mixin navigation(href1, name1, href2, name2, href3, name3, src)
	.col
		p 
			a(class!=attributes.class href=href1)= name1
	.col-6
		p.text-center.font-weight-bold 
			a(class!=attributes.class href=href2)= name2
	.col.text-right
		p
			a(class!=attributes.class href=href3)= name3
				img(class!=attributes.class src=src)


mixin flags(src, title, src2)
	.media.flags
		img.d-flex.align-self-center.mr-3(src=src)
		.media-body
			p.mt-3 #{title}
		img(class!=attributes.class src=src2)

mixin information(title, src)
	.row.bb.mt-3
		.col-8
			.row.no-gutters
				.col-3.col-md-1
					img.settings-big-icon(src=src)
				.col.text-left
					p #{title}
		.col.text-right
			p
				a(href='#')
					img.arrow-right(src='../assets/img/general-icons/arrow-right.svg')
	
mixin settings(title)
	.row.bb.mt-3
		.col
			p #{title}
		.col.text-right
			p 
				a(href='#')
					img.arrow-right(src='../assets/img/general-icons/arrow-right.svg')

mixin tree-icon(title1, src1, title2, src2, title3, src3)
	span.pr-1 
		strong #{title1}
	img.mr-3.nav-icon(src=src1)
	span.pr-1 
		strong #{title2}
	img.mr-3.nav-icon(src=src2)
	span.pr-1 
		strong #{title3}
	img.mr-3.nav-icon(src=src3)

mixin store(title, subtitle, price, href)
	.col-sm-12.col-md-6
		.row.no-gutters
			.col-2.col-md-2.col-lg-1.store-img
				img.animals(src='../assets/img/store/store_icon@2x.png')
			.col-8.col-md-7.col-lg-8
				p.title #{title}
				p.subtitle #{subtitle}
			.col-2.col-md-3.col-lg-2.text-right
				p.title.price #{price}
				p.store-button
					a(href=href)= BUY